dist: trusty
# Use sudo environment just because it currently has more memory, and there is less chance
# of the expensive AddressSanitizer build running out.
sudo: required
language: cpp
services:
  - docker


jobs:
  include:
    - name: "xenial"
      env: WAVE_CXX=g++-7 WAVE_CC==gcc-7

before_script:
  - docker run -d -it --name ci_xenial -v $(pwd):/home/wave_geometry aragdoll/docker_ubuntu:xenial;

script:

  - docker exec -it ci_xenial /bin/bash -c "/home/wave_geometry/scripts/install_gcc7.sh";
  - export CXX=$WAVE_CXX CC=$WAVE_CC  # override travis with what we set in matrix
  - docker exec -it ci_xenial /bin/bash -c "/home/wave_geometry/scripts/install_cmake.sh";
  #- ./scripts/ci/ci_check.bash
  #- ./scripts/ci/ci_run.bash

notifications:
  email: false
